name: CI

on:
  push:
    branches:
      - main
      - develop
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: 2
  NODE: 20

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Clone repository
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
        with:
          persist-credentials: false

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: (!cancelled())
        with:
          files: |
            reports/*.xml
      # - name: Unit Test Report
      #   uses: dorny/test-reporter@v2
      #   if: ${{ !cancelled() }} # run this step even if previous step failed
      #   with:
      #     name: Unit Tests
      #     path: reports/junit.unit.xml
      #     reporter: jest-junit
      #     report-title: "Unit Test Results"
      #     badge-title: "unit"

      # - name: Feature Test Report
      #   uses: dorny/test-reporter@v2
      #   if: ${{ !cancelled() }} # run this step even if previous step failed
      #   with:
      #     name: Feature Tests
      #     path: reports/junit.features.xml
      #     reporter: java-junit
      #     report-title: "Feature Test Results (Acceptance)"
      #     badge-title: "features"
      #     list-suites: "none"
